@use "variables/fonts";
@use "variables/colors" as c;
@use "variables/mixins" as m;
@use "variables/functions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Nunito", sans-serif;
    // color: c.$raisinBlack;
}

button{
    @include m.cw(265, 470);
    @include m.ch(43, 51);
    margin-top: 1.2rem;
    background-color: c.$fernGreen;
    border: none;
    border-radius: .8rem;
    @include m.cf(16, 20);
    color: c.$white;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="search"]{
    @include m.cw(265, 470);
    @include m.ch(43, 51);
    margin-top: 1.2rem;
    @include m.cp(left, 12, 24);
    border: .2rem solid c.$mediumSeaGreen;
    border-radius: .8rem;
    @include m.cf(16, 17);
    color: c.$xiketic;

    @include m.for-size(tablet){

        &::placeholder{
            color: c.$cinereous;
        }
    }
}

label{
    @include m.cf(18, 20);
    color: c.$onyx;
    font-weight: 600;
}

a{
    cursor: pointer;
    // text-decoration: none;
    color: c.$fernGreen;
}

.error-message{
    margin-top: 1.2rem;
    @include m.cf(16, 17);
    color: c.$rubyRed;
}

.success-message{
    margin-top: 1.2rem;
    @include m.cf(16, 17);
    color: #0C7C59;
    text-align: center;
}
